@font-face {
  font-family: "Formular";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Formular-Medium.woff2") format("woff2"),
  url("./fonts/Formular-Medium.woff") format("woff");
}

@font-face {
  font-family: "Formular";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Formular-Bold.woff2") format("woff2"),
  url("./fonts/Formular-Bold.woff") format("woff");
}

:root {
  --color-primary: #0083fc;
  --color-accent: #ff5533;
  --color-gray: #e5e5e5;

  --container-width: 1040px;
  --message-width: 690px;
  --top-margin: 158px;
}

* {
  all: unset;
  display: revert;
}

body {
  font-family: 'Formular', sans-serif;
  background-color: #e5e5e5;
  font-size: 24px;
  font-weight: 500;
}

.title {
  color: var(--color-primary);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.counter {
  color: var(--color-accent);
}

/*.grid {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(12, var(--grid-column-width));*/
/*  gap: var(--grid-gap);*/
/*}*/
